


  <h1 class="mat-body-2" style="text-align: center">О НАС</h1>
  <div class="conteiner">
  <ul>
    <li > <img
      src="../../../assets/profil/my_photo2.png"
      
      class="img-circle"
      alt="Photo"
    />
    <span > ИП Цыганков </span></li>
    <li style="display: flex;justify-content: center;">
      <div class="conteiner-social-apps">
        <span>
          <a href="https://wa.me/+79002440328?text={{ encode(text) }}">
            <img
              class="img-social-apps"
              src="../../../assets/images/messagers/Whatsapp_64.png"
              alt=""
          /></a>
        </span>
        <span
          ><a href="https://www.instagram.com/x_01.ru">
            <img
              class="img-social-apps"
              src="../../../assets/images/messagers/Instagram_icon-icons.com_64.png"
              alt=""
          /></a>
        </span>
        <span
          ><a href="https://vk.me/public205621726"
            ><img
              class="img-social-apps"
              src="../../../assets/images/messagers/VK_64.png"
              alt=""
          /></a>
        </span>
      </div>

    </li>
  </ul>

</div>
