<header class="mat-body-strong">
    <mat-toolbar class="container">
      <div class="col_inner">
        <a href="" class="nav_link">
          <span class="logo_inner-name">CMS</span>
          <img
            class="logo_inner-img"
            src="./../assets/icons/logo.png"
            alt=""
            loading="lazy"
          />
          <span class="logo_inner-name">First Site</span>
        </a>
      </div>
      <div class="col_inner logo-column">
        <div class="logo-position-name">CMS - First Site</div>
        <a class="nav_link" href="tel:+79002440328"> (+7-900-244-03-28 ) </a>
      </div>
      
  
      <div class="col_inner">
       
        <!---       statr -->
        <div class="menu-md">
          <button mat-icon-button class="nav_link" aria-label=" menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
  
  
        <div class="menu-lg">
          <span>
            <a class="nav_link" href="#">Тарифы</a>
          </span>
          <span>
            <a class="nav_link" href="#">онас</a>
          </span>
        </div>
      </div>
  
    </mat-toolbar>
  </header>
<router-outlet></router-outlet>
<footer class="footer">
    <div  class="jumbotron text-center bg-dark text-white">

        <p> &copy;{{year}} {{titl}}  </p>
      
      
      
      </div>
</footer>