<div class="_container">
  <div class="_body">
    <h2 class="mat-h2 c-2">Тарифы</h2>
    <div class="_container_grid">
      <mat-card class="_card">
        <mat-card-header>
          <div mat-card-avatar class="_header-image"></div>
          <mat-card-title>Старт</mat-card-title>
          <mat-card-subtitle
            >200р месяц +( 2500р-адаптация шаблона)</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          src="./../../../assets/images/template-start/start-3.png"
          alt="Photo of a template start price"
        />
        <mat-card-content>
          <h4 class="mat-h4" >Стартовый шаблон преднозначен для :</h4>
          <ul style="margin-left: 0">
            <li>
              - Определиться с <span class="_s"> моделью сайта</span> :

              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      - сайт профиля(портфолио)
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  это собрание выполненных работ, проектов и других документов,
                  которые демонстрируют ваш профессионализм и опыт. Его
                  используют, чтобы найти потенциальных работодателей и
                  заказчиков, а также повысить авторитет в индустрии.
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> - информационный сайт </mat-panel-title>
                  </mat-expansion-panel-header>
                  Главная цель такого сайта — служить источником информации на
                  конкретную тему или на широкий перечень тем.
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> - интернет магазин </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
            </li>
            <li>
              - Определиться с <span class="_s"> наполнением сайта</span>-Какую
              информацию будет показывать сайт
            </li>
            <li>
              - Определиться с <span class="_s"> дизайном сайта</span> -Как эта
              информация будет представлена (шаблон сайта)
            </li>
            <li>
              - Определиться с
              <span class="_s"> палитрой цветов сайта</span> (цветовой схемой
              сайта)
            </li>
            <li>-Определиться с <span class="_s">логотипом сайта</span></li>
            <li>-Определиться с <span class="_s">доменным именем</span></li>
          </ul>
          <h4  class="mat-h4">Что включено -</h4>
          <ul>
            <li>
              -Вы получаете(SPA клиента -Single Page Applications). Сайт
              реализованый на фреймворк angular
            </li>
            <li>-Сертификат ssl</li>
            <li>
              -Разделяемый c другими клиентами ресурс Хостинга(Виртуальный
              хостинг)
            </li>
            <li>
              -Раз в месяц бесплатно изменить файл данных -(например -прайс)
            </li>
            <li>-Доменное имя третьего уровня</li>
          </ul>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="warn"><a href="https://xf-01.ru">Пример</a></button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="_card">
        <mat-card-header>
          <div mat-card-avatar class="_header-image"></div>
          <mat-card-title>Стандарт</mat-card-title>
          <mat-card-subtitle>1500р в месяц</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="./../../../assets/images/template-standart/standart1.png"
          alt="Photo of template cms start price"
        />
        <mat-card-content>
          <h4  class="mat-h4">Стандартный шаблон Включает  </h4>
          <ul>
            <li>
             - Клиент(Spa Angular)+Сервер(Asp net Core),те Клиентская часть
              "Старт" + Серверная часть(CMS- Системы Управления содержимым)
            </li>
            <li>
             - VPS(виртуальный приватный сервер)- (CPU 1 x 2,0 ГГц RAM 2 ГБ)
            </li>
            <li>-Сертификат ssl</li>
            <li>CMS- Систему Управления содержимым</li>
            <li>-Доменное имя третьего уровня</li>
            <li>Резервное копирование данных раз в месяц  </li>
          </ul>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="warn"><a href="https://x-01.ru">Пример</a></button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="_card">
        <mat-card-header>
          <div mat-card-avatar class="_header-image"></div>
          <mat-card-title>Старт+</mat-card-title>
          <mat-card-subtitle>1150р месяц </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Гарантированный час работы вебмастера.</p>

        </mat-card-content>

      </mat-card>
      <mat-card class="_card">
        <mat-card-header>
          <div mat-card-avatar class="_header-image"></div>
          <mat-card-title>Стандарт+</mat-card-title>
          <mat-card-subtitle>2500р месяц </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Гарантированный час работы вебмастера.</p>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
