@import "./../../../styles/variables";
.img-full{
 // aspect-ratio: auto;
  object-fit: contain; //гарантирует видимость всего img
  width: 100%;
}
.img-conteiner{
  display: inline-flex;
  margin-bottom: 0.5rem;
}

h4{
  background-color:$h-bg-color;// salmon;
 // text-align: center;
  padding-left: 1rem;
}
